<!DOCTYPE html>
<html>
<head>
    <title>My first Vue app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css"></link>
</head>
<body>
<div id="root" class="container">
    <modal v-if="showModal" @close="showModal = false">
        <p> Any other Bulma elements you want </p>
    </modal>
    <button @click="showModal = true">Show modal</button>
</div>

</body>
<script src="https://unpkg.com/vue"></script>
<script src="main.js"></script>

</html>